@include(temp)
@args Form resetForm
<script id="password-change" type="text/html">
	<div class="ui grid page" data-bind="template: {afterRender: $root.display_msgbox.afterRendererdHandler}">
		<div class="column">
			<div data-alert id="alert-box-container" class="display_message" align="center" style="display:block !important;">
				<div class="ui success message">
					<i class="close icon" id="close_message"></i>
					<div class="header" id="alert-message">
						Message Here
					</div>
				</div>
			</div>

			@if((resetForm.hasErrors())){
				@if((resetForm.globalError())!=null){
					<div align="center" style="display:block !important; visibility: visible !important">
						<div class="ui error message">
							<div class="header" id="alert-message">
								@resetForm.globalError().message()
							</div>
						</div>
					</div>
				}
			}
			<br><br>
			<form id="passwordReset" data-bind="submit: usermanagement.changepassword">
				<div class="ui form holder">
					<div class="ui required field">
						<label>@Messages.get("login.oldPassword")</label>
					    <input type="password" id="password" name="password" placeholder="Existing Password">
					</div>
					<div class="ui required field">
						<label>@Messages.get("login.newPassword")</label>
					    <input type="password" id="newPassword" name="newPassword" placeholder="New Password">
					</div>
					<div class="ui required field">
						<label>@Messages.get("login.repeatPassword")</label>
						<input type="password" id="repeatPassword" name="repeatPassword" placeholder="Reenter Password">
					</div>
					<center>
						<input id="changePassword" type="submit" value="Change Password" class="ui button green" style=" background-color: #002366 !important; width: 75%">
					</center>
				</div>
			</form>
		</div>
	</div>
</script>