@include(temp)
<script id="menuTree" type="text/html">
	<!-- ko if: subMenuItems().length > 0 -->
		<div class="ui dropdown item">
			<a data-bind='text:name,click:loadPageData' style="color:black !important;"></a>
			<i class="fa fa-angle-double-right"></i>
			<div class="menu" data-bind="template: { name: 'menuTree', foreach: subMenuItems}">		
			</div>
		</div>
	<!-- /ko -->
	<!-- ko if: subMenuItems().length == 0 -->
		<a data-bind='text:name, click:loadPageData' class="item">
		</a>
	<!-- /ko -->
</script>
<script id="tab_dashboard" type="text/html">
	<section id="tableauReportsPageSection" style="background-color: white;" data-bind="template: {afterRender: $root.display_msgbox.afterRendererdHandler}">
		<center data-bind="visible:(!tableaumgmt.errorText() || tableaumgmt.errorText().length <= 0)" >
			<img class="ui center aligned massive image" style="border: 0px" data-bind='visible: (tableaumgmt.placeHolderImageUrl().length > 0), attr: {src: tableaumgmt.placeHolderImageUrl}'></img>
			<div id="tableauViewPlace"></div>
		</center>
		<center data-bind="visible:(tableaumgmt.errorText() && tableaumgmt.errorText().length > 0)" >
			<span class="alert">
				<h3>Report Loading Error:</h3>
				<p data-bind="text:tableaumgmt.errorText"></p>
			</span>
		</center>
	</section>
</script>