@include(temp)
<script id="diffusion_map" type="text/html">
	<section id="diffusionReportsPageSection" style="background-color: white;" data-bind="template: {afterRender: $root.display_msgbox.afterRendererdHandler}">
		<center data-bind="visible:(!diffMap.errorText() || diffMap.errorText().length <= 0)" >
			<div id="diffusionViewPlace" data-bind='attr:{style:(diffMap.isTopBarVisibile() ? "background-color:white;margin-top:3px;" : "background-color:white;margin-top:-45px;")}'>
				<div data-bind="visible:diffMap.isTitleVisible()">
					<div class="ui grid page" style="padding:1% !important;">
						<div class="row">
							<div class="one wide column">
								<img class="ui tiny image" data-bind='attr: {src: diffMap.clientLogoImageUrl}'></img>
							</div>
							<div class="fifteen wide column" align="left">
								<a class="ui small button" style="background-color: #0ABAB5; color:white" id="diffMap" data-bind="click:diffMap.changeActiveSheet.bind($data,'Diffusion Map')">Diffusion Map</a>
								<!-- <a class="ui small button" style="color:black;" id="spndSeg" data-bind="click:diffMap.changeActiveSheet.bind($data,'Spend Segment')">Spend Segment</a>
								<a class="ui small button" style="color:black;" id="trndSen" data-bind="click:diffMap.changeActiveSheet.bind($data,'Trendsensor')">Trendsensor</a>
								<a class="ui small button" style="color:black;" id="reports" data-bind="click:diffMap.changeActiveSheet.bind($data,'Reports')">Reports</a> -->
								<a class="ui small button" style="color:black;" id="filters" data-bind="click:diffMap.loadFilterPopup">Export Filters</a>
							</div>
						</div>
						  
            			 
            				<!-- <div class="small-2 columns">
		            			<a data-bind="click:diffMap.getSelectedFilters" class="button postfix">Go</a>
        		    		</div> -->
          				</div>
					</div>
					<div data-bind="visible:(diffMap.errorText() && diffMap.errorText().length > 0)">
						<span class="alert">
							<h3>Report Loading Error:</h3>
							<p data-bind="text:diffMap.errorText"></p>
						</span>
					</div>
	  			</div>
	  		</div>
	  	</center>
		<div id="list_filters" class="ui small modal">
			<i class="close icon"></i>
			<div class="header">Selected Filters</div>
			<div class="content">
				<p data-bind="visible:diffMap.selTopFlag()!=1 ,text:'Top Segment : '+diffMap.selTop()"></p>
				<p data-bind="visible:diffMap.selRegionFlag()!=1  && diffMap.isNoValuesSelected()!=1  ,text:'Regions : '+diffMap.selRegion()"></p>
				<p data-bind="visible:diffMap.selLifetimeFlag()!=1  && diffMap.isNoValuesSelected()!=1   ,text:'Lifetime : '+diffMap.selLifetime()"></p>
				<p data-bind="visible:diffMap.selDataArpuFlag()!=1   ,text:'Data ARPU : '+diffMap.selDataArpu()"></p>
				<p data-bind="visible:diffMap.selVasPlanFlag()!=1   ,text:'VAS Plan : '+diffMap.selVasPlan()"></p>
				<p data-bind="visible:diffMap.selDateFlag()!=1   ,text:'Date Week : '+diffMap.selDate()"></p>
				<p data-bind="visible:diffMap.isNoValuesSelected()==1   ,text:'No Filters Selected'"></p>
			</div>
			<div class="actions" data-bind="visible:diffMap.isNoValuesSelected()!=1">
				<div data-bind="click:diffMap.exportFilters" class="ui green button">Export</div>
			</div>
			
		</div>
	</section>
</script>