@include(temp)
@args Form forgotPassForm
@section("nav_bar"){
	<div class="ui fixed menu">
		<div class="ui container">
			<a class="item" href="/xosso">
				<i class="home icon"></i>
			</a>
			<div class="right menu">
				<div class="item">
					Forgot Password
				</div>
			</div>
		</div>
	</div>
}
@extends(xo_base, title: Messages.get("login.title"))
<section>
	<div class="ui grid page">
		<div class="column">
			<br><br>
			<div data-alert id="alert-box-container" class="display_message" align="center" style="display:block !important;">
				<div class="ui success message">
					<i class="close icon" id="close_message"></i>
					<div class="header" id="alert-message">
						Message Here
					</div>
				</div>
			</div>			
			@if((forgotPassForm.hasErrors())){
				@if((forgotPassForm.globalError())!=null){
					<div align="center" style="display:block !important; visibility: visible !important">
						<div class="ui error message">
							<div class="header" id="alert-message">
								@forgotPassForm.globalError().message()
							</div>
						</div>
					</div>
				}
			}
			<br><br>			
			<form action="/xosso/users/forgotpassword" method="POST" name="passwordReset" class="ui form holder">
				<div class="ui field">
					<input type="text" id="email" name="email" value="" placeholder="Email">
				</div>
				<div class="field" align="center">
					<input id="forgotPassword" type="submit" value="Reset Password" class="ui primary button">
				</div>
			</form>
		</div>
	</div>
</section>