<script type="text/javascript">
	var config_name_err = "please enter the configuration name...";
	var key_miss_err = "Key should not be empty.";
	
	var diff_map = 'Diffusion Map';
	var sel_vas = "Select VAS (max 6) &nbsp;&nbsp; &#x25BC;";
	var cmnt_warn = "Enter a comment and then click Comment button";

	var sel_opt = "Select only 1 Option";
	var input_err = "Please select all the three inputs";
	var report_conf_del = "This group is assigned to reports(s) !! Are You Sure u want to delete ?";
	var integer_err = "Enter valid integer";
	var display_order_err = "Please enter integer in display order";
	var config_reprt_err = "Please configure all the reports";
	var already_assign_err = "Dashboard has been already assigned to";
	var group_select = "Select Group";

	var entity_type = 'Please select the entity type and ';
	var rolename_err = "Please enter a Rolename";
	var role_delete_cnfrm = "This Role is assigned to user(s) !! Are You Sure u want to delete ?";
	
	var select_client = "Please select the client";
	var select_role = "Please select the role";
	var first_name ="Please enter a first name";
	var email_id = "Please enter a email id";
	var user_file_err = "Please select at least one user entries file.";
	var create_role_warn = "Create Role before adding user";
</script>