@include(temp)
@args play.mvc.Http.Request request = play.mvc.Http.Context.current().request(), play.mvc.Http.Response response = play.mvc.Http.Context.current().response(),Session session  = play.mvc.Http.Context.current().session()

	<div class="ui fixed menu" id="top_nav_bar">
		<div class="ui container"> 
			@if(session.get(com.xo.web.util.XoAppConstant.HEADER_X_SUPER_CLIENT) != null) {
			<div class="ui simple dropdown item">
				<i class="bars icon"></i>
				<div class="menu">
					<div class="header">
						<i class="fa fa-line-chart"></i>
						&nbsp;&nbsp;Report & Settings
					</div>
					<a class="item" href="#tabdashboard">
						&nbsp;&nbsp; Report
					</a>
					<a class="item" href="#diffusionmap">
						&nbsp;&nbsp; Diffusion Map
					</a>
					<a class="item" href="#reportmgmt">
						&nbsp;&nbsp; Reports Management
					</a>
					<a class="item" href="#reportgrpmgmt">
						&nbsp;&nbsp; Reports Group Management
					</a>
					<div class="divider"></div>
					<div class="header">
						<i class="fa fa-cog"></i>
							&nbsp;&nbsp;App Settings
					</div>
					<a class="item" href="#configtemplate">
						&nbsp;&nbsp; Configuration Manager
					</a>
					<a class="item" href="#clientjobconfig">
						&nbsp;&nbsp; System Jobs
					</a>
					<div class="divider"></div>
					<div class="header">
						<i class="fa fa-expeditedssl"></i>
						Security
					</div>
					<a class="item" href="#usermanagement">
						&nbsp;&nbsp;Manage Users
					</a>
					<a class="item" href="#rolemanagement">
						&nbsp;&nbsp;Manage Roles
					</a>
					<a class="item" href="#permissionmanagement">
						&nbsp;&nbsp;Manage Permission
					</a>
					<a class="item" href="#userrowlevelpermission">
						&nbsp;&nbsp;User Based Record Permissions
					</a>
					<a class="item" href="#rolerowlevelpermission">
						&nbsp;&nbsp;Role Based Record Permissions
					</a>
				</div>
			</div>
			}
			<!-- ko if: router.currentPage().title()=="Dashboard" -->
				<!-- ko if: menuData && menuData().length > 0 -->
					<div class="ui simple dropdown item">
						@if(session.get(com.xo.web.util.XoAppConstant.HEADER_X_SUPER_CLIENT) != null) {
							<i class="fa fa-tachometer"></i>
						}
						@if(!(session.get(com.xo.web.util.XoAppConstant.HEADER_X_SUPER_CLIENT) != null)) {
							<i class="bars icon"></i>
						}
						<div class="ui vertical menu" data-bind="template: { name: 'menuTree', foreach: menuData}">
						</div>
					</div>
				<!-- /ko -->
			<!-- /ko -->
			<a id="home_button" class="item" href="#">
				<i class="home icon"></i>
			</a>
			<div class="right menu">
				<div class="item disp" data-bind="text: router.currentPage().title">
				</div>
				<!-- ko if: router.currentPage().title()=="Dashboard" -->
					@if(session.get(com.xo.web.util.XoAppConstant.HEADER_X_SUPER_CLIENT) != null) {
						<select style="margin-top:4px;" class="ui selection dropdown" title='@Messages.get("user.selclient")' id="selSupSysClient" 
							data-bind='options:allClients, optionsText: "name", value: selectedSupClient, optionsCaption:"@Messages.get("user.selclient")"'>
						</select>
					}
				<!-- /ko -->
				<!-- ko if: router.currentPage().title()=="Dashboard" || router.currentPage().title()=="Diffusion Map" -->
					<a data-bind='click: fullScreenView' class="item">
						<i class="fa fa-arrows-alt"></i>
					</a>
					<a class="item" id="hide_nav_bar" onclick="hidemenu()">
						<i class="compress icon"></i>
					</a>
				<!-- /ko -->
				<div class="ui simple right dropdown item">
					<i class="large setting icon"></i>
					<div class="left menu">
						<a class="item" href="http://xoanon.helpdocsonline.com/o73n03uauu38vjg8l6rqrb7z0unyk6l9">
							&nbsp;&nbsp;<i class="fa fa-book"></i>
							&nbsp;&nbsp;User Guide
						</a>
						<a class="item" onclick="composeSupport()">
							&nbsp;&nbsp;<i class="fa fa-support"></i>
							&nbsp;&nbsp;Support
						</a>
						<!-- ko if: router.currentPage().title()=="Dashboard" -->
							<!-- ko if: menuData && menuData().length > 0 -->
								<a class="item" id="rptdownload" data-bind="click:exportPdf">
									&nbsp;&nbsp;<i class="fa fa-download"></i>
									&nbsp;&nbsp;Export as CSV
								</a>
							<a class="item" onclick="openCommentNav()">
								&nbsp;&nbsp;<i class="fa fa-comments"></i>
								&nbsp;&nbsp;Comments
							</a>
							<!-- /ko -->
						<!-- /ko -->
						<!-- ko if: router.currentPage().title()=="Diffusion Map" -->
							<a class="item" onclick="openCommentNav()">
								&nbsp;&nbsp;<i class="fa fa-comments"></i>
								&nbsp;&nbsp;Comments
							</a>
						<!-- /ko -->
						<a class="item" href="#changepassword">
							&nbsp;&nbsp;<i class="fa fa-edit"></i>
							&nbsp;&nbsp;Change Password
						</a>
						<a class="item" href="@com.xo.web.util.XoUtil.getApplicationContext()/logout?authToken=@session.get(com.xo.web.util.XoAppConstant.HEADER_AUTH_TOKEN)">
							&nbsp;&nbsp;<i class="fa fa-sign-out"></i>
							&nbsp;&nbsp;Logout
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>