@include(temp)
@args Form resetForm,String authToken
@extends(xo_base, title: Messages.get("login.title"))
	<div class="ui fixed menu">
		<div class="ui container">
			<a class="item" href="@com.xo.web.util.XoUtil.getApplicationContext()">
				<i class="home icon"></i>
			</a>
			<div class="right menu">
				<div class="item">
					Reset Password
				</div>
			</div>
		</div>
	</div>
	<div class="ui grid page" data-bind="template: {afterRender: $root.display_msgbox.afterRendererdHandler}">
		<div class="column">
			<div data-alert id="alert-box-container" class="display_message" align="center" style="display:block !important;">
				<div class="ui success message">
					<i class="close icon" id="close_message"></i>
					<div class="header" id="alert-message">
						Message Here
					</div>
				</div>
			</div>

			@if((resetForm.hasErrors())){
				@if((resetForm.globalError())!=null){
					<div align="center" style="display:block !important; visibility: visible !important">
						<div class="ui error message">
							<div class="header" id="alert-message">
								@resetForm.globalError().message()
							</div>
						</div>
					</div>
				}
			}
			<br><br>
			<form action="@com.xo.web.util.XoUtil.getApplicationContext()/users/resetpassword?authToken=@authToken" method="POST" name="passwordReset">
				<div class="ui form holder">
					<div class="ui required field">
						<label>@Messages.get("login.newPassword")</label>
						<input type="password" id="newPassword" name="newPassword" placeholder='@Messages.get("login.newPassword")'/>
					</div>
					<div class="ui required field">
						<label>@Messages.get("login.repeatPassword")</label>
						<input type="password" id="repeatPassword" name="repeatPassword" placeholder='@Messages.get("login.repeatPassword")'/>
					</div>
					<input type="hidden" name="authToken" value='@authToken'/>
					<center>
						<input id="resetPassword" type="submit" value="Reset Password" class="ui button green" style=" background-color: #002366 !important; width: 75%"/>
					</center>
				</div>
			</form>
		</div>
	</div>