@include(temp)
<script id="system_settings" type="text/html">
	<section>
		<div class="row" data-equivalizer>
	<div class="ui center aligned grid page">
		<div class="column">
			<div class="ui">
				<div class="ui menu top">
					<a class="item active" data-tab="@Messages.get("admin.land.settings")"><i class="fa fa-cog fa-lg"></i><label class="disp">@Messages.get("admin.land.settings")</label></a>
				</div>
				<div class="ui tab active" data-tab="@Messages.get("admin.land.settings")">
					<br>
					<div class="ui four stackable special link cards">
						<a href="#configtemplate">
						<div class="card">
								<div class="ui center aligned image" style="width: 100%;">
									<i class="fa fa-wrench fa-5x" id="card_icon"></i>
								</div>
								<div class="content">
									<div class="header">
										<a href="#configtemplate">@Messages.get("admin.land.configs")</a>
									</div>
								</div>
							</div>
						</a>
						<a href="#clientjobconfig">
						<div class="card">
								<div class="ui center aligned image" style="width: 100%;">
									<i class="fa fa-database fa-5x" id="card_icon"></i>
								</div>
								<div class="content">
									<div class="header">
										<a href="#clientjobconfig">@Messages.get("admin.land.clientjobconfigs")</a>
									</div>
								</div>
							</div>
						</a>
						<a href="#reportmgmt">
						<div class="card">
								<div class="ui center aligned image" style="width: 100%;">
									<i class="fa fa-pie-chart fa-5x" id="card_icon"></i>
								</div>
								<div class="content">
									<div class="header">
										<a href="#reportmgmt">@Messages.get("admin.land.report.settings")</a>
									</div>
								</div>
							</div>
						</a>
						<a href="#reportgrpmgmt">
						<div class="card">
								<div class="ui center aligned image" style="width: 100%;">
									<i class="fa fa-object-group fa-5x" id="card_icon"></i>
								</div>
								<div class="content">
									<div class="header">
										<a href="#reportgrpmgmt">@Messages.get("admin.land.report.group.settings")</a>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
	</section>
</script>