@include(temp)
<script id="userrowlevelpermission_mgmt" type="text/html">
<section>
<div class="ui grid page" data-bind="template: {afterRender: $root.display_msgbox.afterRendererdHandler}">
	<div class="row">
		<div class="column" id="table_holder">
			<span>
				<span>
					<div data-alert id="alert-box-container" class="display_message" align="center" style="display:block !important;">
						<div class="ui success message">
							<i class="close icon" id="close_message"></i>
							<div class="header" id="alert-message">
								Message Here
							</div>
						</div>
					</div>
					<br><br>
				</span>
				<div>
					<div class="ui form">
						<div class="ui grid">
							<div class="row">
								<div class="five wide column">
									<div class="ui field">
										<select id='availableUsers' style="margin-bottom: 0px;" 
											data-bind='options: rowlevelmgmt.availableusers, optionsText: "displayText", value: rowlevelmgmt.selectedUser, optionsCaption: "@Messages.get("rowlevel.crud.seluser")"'>
										</select>
									</div>
								</div>
								<div class="five wide column">
									<div class="ui field">
										<select id='availableResources' data-bind='options: rowlevelmgmt.availableresources,
                      						optionsText: "displayText",
			                    	   		value: rowlevelmgmt.selectedResource,
            			           			optionsCaption: "@Messages.get("rowlevel.crud.selentitytype")"' style="margin-bottom: 0px;">
            			           		</select>
									</div>
								</div>
								<div class="left aligned four wide column">
									<div class="ui field">
										<a class="ui primary button" title='@Messages.get("rowlevel.crud.crud.create")' id="createUserRlp"	 data-bind='click:rowlevelmgmt.showPopup' data-reveal-id="addrlpModel">
											@Messages.get("rowlevel.crud.crud.create")
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
			<table id="allRLPEntities" class="ui unstackable red compact selectable striped celled table">
				<thead>
					<tr>
						<th>@Messages.get("rowlevel.crud.user")</th>
						<th>@Messages.get("rowlevel.crud.entity")</th>
						<th>@Messages.get("rowlevel.crud.restype")</th>
						<th>@Messages.get("rowlevel.crud.action")</th>
					</tr>
				</thead>
				<tbody
					data-bind="foreach: {data:rowlevelmgmt.availableEntityInstances, as: 'entityInstanceRecord'}">
					<tr>
						<td data-bind='text: entityInstanceRecord.user'></td>
						<td data-bind='text: entityInstanceRecord.displayText'></td>
						<td data-bind='text: entityInstanceRecord.resourceTypeName'></td>
						<td>
							<a class="action_link" title='@Messages.get("user.pr.mgmt.dactusr")'
								data-bind='if: entityInstanceRecord.active, click:entityInstanceRecord.toggleActiveStatus'>
								<i class="fa fa-unlock"></i>
							</a>
							<a class="action_link" title='@Messages.get("user.pr.mgmt.actusr")'
								data-bind='ifnot: entityInstanceRecord.active, click:entityInstanceRecord.toggleActiveStatus'>
								<i class="fa fa-lock"></i>
							</a>
							<a class="action_link" title='@Messages.get("user.pr.mgmt.delusrpr")' data-bind='click:entityInstanceRecord.deleteRecord'>
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="myModal" class="ui large modal">
		<i class="close icon"></i>
		<div class="ui grid page" style="padding-top:1% !important;">
			<div class="row">
				<div class="column">
					<span>
						<br>
						<div data-alert id="popup-box-container" class="display_message" align="center" style="display:block !important;">
							<div class="ui success message">
								<i class="close icon" id="close_message"></i>
								<div class="header" id="popup-message">
									Message Here
								</div>
							</div>
						</div>
						<br>
					</span>
					<table id="allUnAssignedRlpInstances" class="ui red compact selectable striped celled table">
						<thead>
							<tr data-bind='if:rowlevelmgmt.selectedResource() && rowlevelmgmt.selectedResource().displayText'>
								<th data-bind='text:rowlevelmgmt.selectedResource().displayText'></th>
								<th>@Messages.get("rowlevel.crud.action")</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: {data:rowlevelmgmt.unAssignedInstances, as: 'unAssInstance'}">
							<tr data-bind="ifnot: unAssInstance.deleted" >
								<td data-bind='text: unAssInstance.displayText'></td>
								<td class="text-center popupheight" >
									<input type="submit" class="ui tiny primary button" value="ADD" data-bind="click:unAssInstance.addRecord"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<style type="text/css">
	#myModal{
		top:2% !important;
		margin-top: 2% !important;
	}
</style>
</script>