@include(temp)
<script id="user_role_mgmt" type="text/html">
<section>
<div class="ui grid page" data-bind="template: {afterRender: $root.display_msgbox.afterRendererdHandler}">
	<div class="row">
		<div class="column" id="table_holder">
			<span>
				<div data-alert id="alert-box-container" class="display_message" align="center" style="display:block !important;">
					<div class="ui success message">
						<i class="close icon" id="close_message"></i>
						<div class="header" id="alert-message">
							Message Here
						</div>
					</div>
				</div>
				<br><br>
				<a class="ui primary button" onclick='backPage()'>&lt;&lt;&nbsp;@Messages.get("config.mgmt.goback")</a>
				<a class="ui primary button" title="Create a new user" data-reveal-id="myModal" id="assignNewUserRoleBut"
					data-bind='click:userrolemgnt.loadPopup'>@Messages.get("user.rl.mgmt.newusrrl")</a>
				<br><br>
			</span>
			<table id="allAvailableUserRoles" class="ui unstackable red compact selectable striped celled table">
				<thead>
					<tr>
						<th>@Messages.get("user.rl.mgmt.name")</th>
						<th>@Messages.get("user.rl.mgmt.action")</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: {data:userrolemgnt.availableUserRoles, as: 'userRoleRecord'}">
					<tr>
						<td data-bind='text: userRoleRecord.name'></td>
						<td>
							<a class="action_link" title='@Messages.get("user.rl.mgmt.dactusr")' data-bind='if: userRoleRecord.active, attr: {id: "user_active_"+userRoleRecord.userId+"_"+userRoleRecord.roleId}, click:userRoleRecord.toggleUserRoleStatus'>
								<i class="fa fa-unlock"></i>
							</a>
							<a class="action_link" title='@Messages.get("user.rl.mgmt.actusr")' data-bind='ifnot: userRoleRecord.active, attr: {id: "user_active_"+userRoleRecord.userId+"_"+userRoleRecord.roleId}, click:userRoleRecord.toggleUserRoleStatus'>
								<i class="fa fa-lock"></i>
							</a>
							<a class="action_link" title='@Messages.get("user.rl.mgmt.delusrrl")' data-bind='attr: {id: "user_active_"+userRoleRecord.userId+"_"+userRoleRecord.roleId}, click:userRoleRecord.deleteUserRole'>
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="myModal" class="ui small modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" >
		<i class="close icon" data-bind='click:userrolemgnt.hidePopup'></i>
		<div class="ui grid page" style="padding-top:1% !important;">
			<div class="row">
				<div class="column">
					<span>
						<br>
						<div data-alert id="popup-box-container" class="display_message" align="center" style="display:block !important;">
							<div class="ui success message">
								<i class="close icon" id="close_message"></i>
								<div class="header" id="popup-message">
									Message Here
								</div>
							</div>
						</div>
						<br>
					</span>
					<table id="UnassignedUserRoles" class="ui unstackable red compact selectable striped celled table" style="width:100%;">
						<thead>
							<tr>
								<th>Roles</th>
								<th align="center">Assign</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: {data:userrolemgnt.availableUnassignedRoles, as: 'unassignedRoleRecord'}">
							<tr>
								<td data-bind='text: unassignedRoleRecord.name'></td>
								<td class="text-center">
									<input type="submit" class="ui tiny primary button" value="ADD" data-bind="click:unassignedRoleRecord.updateUserRole"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
</script>