@(resetForm: Form[_])
@import helper._
<script id="password-change" type="text/html">
	<section class="small-16">				
			<form id="passwordReset" data-bind="submit: usermanagement.changepassword">
				<div data-alert id="alert-box-container" class="padding5 small-8 large-4 small-centered columns alert-box alert round" data-bind="visible: password.sholdShowMessage">
					 <div id="alert-message" class="text-center fontBlack"></div>	 
				</div>	
					<div class="row">
						@if(resetForm.hasGlobalErrors) {
				        	<p>
				            	<div class="small-14 medium-4 small-centered columns alert-box alert">@resetForm.globalError.message</div>
				          	</p>
				        }
						<div class = "panel small-14 medium-6 small-centered columns">

								@inputPassword(
						          resetForm("password"),
						          '_showConstraints -> false,
						          'placeholder -> Messages("login.oldPassword"),
								  '_label -> ""
						        )

						        @inputPassword(
						          resetForm("newPassword"),
						          '_showConstraints -> false,
						          'placeholder -> Messages("login.newPassword"),
								  '_label -> ""
						        )

						        @inputPassword(
						          resetForm("repeatPassword"),
						          '_showConstraints -> false,
						          'placeholder -> Messages("login.repeatPassword"),
								  '_label -> ""
						        )

								<input id="changePassword" type="submit" value="@Messages("password.change")" class="button expand">
		        		</div>
					</div>
				</form>		
		</section>           
           
 </script>