<script id="clientjobconfig_mgmt" type="text/html">
<section>
	<div class="row">
				<span>
    			 <center>
					<h2>@Messages("clientjobconfig.mgmt")</h2></center><br><br>
					<span>
						<div data-alert id="alert-box-container" class="padding5 small-8 large-4 small-centered columns alert-box alert round" data-bind="visible:clientjobmgmt.visibility">
							<div id="alert-message" class="text-center fontBlack"></div>
						</div>
					</span>
					<ul class="sub-nav xo-nav">
    					<li class="active">
							<a title="Add new Configurations" id="addconfig" data-reveal-id="addconfigModel" data-bind='click:clientjobmgmt.loadPopup'>@Messages("clientjobconfig.mgmt.add")</a>
							<div id="addconfigModel" class="reveal-modal medium top50" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">@Messages("clientjobconfig.mgmt.add")
								<span>
								<div data-alert id="popup-box-container"
									 class="padding5 small-8 large-6 small-centered columns alert-box alert round"
									 data-bind="visible:clientjobmgmt.visibility">
									<div id="popup-message" class="text-center fontBlack"></div>
								</div>
							</span>
								<select title='@Messages("clientjobconfig.mgmt.newClient")' id="selSysClient" data-bind='options:clientjobmgmt.availableClients, optionsText: "name", value: clientjobmgmt.selectedClient, optionsCaption: "Choose Client......"'>@Messages("clientjobconfig.mgmt.Client")</select>
								<select title='@Messages("clientjobconfig.mgmt.newJob")' id="selSysJob" data-bind='options:clientjobmgmt.addavailableJobs, optionsText: "jobName", value: clientjobmgmt.selectedJob, optionsCaption: "Choose Job......."'>@Messages("clientjobconfig.mgmt.Job")</select>
								<select title='@Messages("clientjobconfig.mgmt.newInstance")' id="selSysInstance" data-bind='options:clientjobmgmt.addavailableInstances, optionsText: "shortName", value: clientjobmgmt.selectedInstance, optionsCaption: "Choose Instance......"'>@Messages("clientjobconfig.mgmt.Instance")</select>
								<center data-bind="click:clientjobmgmt.saveClientJobConfig">
									<button id="create_user" class="button small round" type="submit">Add</button>
								</center>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>
						</li>
  					</ul>
				</span>
			<center>
			<table id="allClientJobsConfigs">
				<thead>
					<tr>
						<th>@Messages("clientjobconfig.mgmt.client_name")</th>
						<th>@Messages("clientjobconfig.mgmt.jobName")</th>
						<th>@Messages("clientjobconfig.mgmt.configName")</th>
						<th>@Messages("clientjobconfig.mgmt.lastMessage")</th>
						<th>@Messages("clientjobconfig.mgmt.action")</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: {data:clientjobmgmt.allJobs, as: 'jobConfigRecord'}">
					<tr>
						<td data-bind='text: jobConfigRecord.client_name'></td>
						<td data-bind='text: jobConfigRecord.jobName'></td>
						<td data-bind='text: jobConfigRecord.configName'></td>
						<td>
							<span data-bind="if:jobConfigRecord.isRunning()" style="width:100px;height:25px;">
								<img src='@routes.Assets.versioned("images/pageloader.gif")'/>
							</span>
							<span data-bind="ifnot:jobConfigRecord.isRunning()">
								<a data-bind='text: jobConfigRecord.lastMessage, attr:{class:jobConfigRecord.statusType}'>
								</a>
							</span>
						</td>
						<td>
							<ul class="inline-list">
								<li data-bind="if: jobConfigRecord.active">
									<a title='@Messages("clientjobconfig.mgmt.dactconfigtempl")'
									   data-bind='click:jobConfigRecord.toggleActiveStatus'>
										<i class="fi-unlock"></i>
									</a>
								</li>
								<li data-bind="ifnot: jobConfigRecord.active">
									<a title='@Messages("clientjobconfig.mgmt.actconfigtempl")'
									   data-bind='click:jobConfigRecord.toggleActiveStatus'>
										<i class="fi-lock"></i>										
									</a>
								</li>
								<li>
									<a data-bind="click:jobConfigRecord.deleteConfig" title='@Messages("clientjobconfig.mgmt.delconfig")'>
										<i class="fi-trash"></i>
									</a>
								</li>
								<li>
									<a data-bind="click:jobConfigRecord.runJob" title='@Messages("clientjobconfig.mgmt.runconfig")'>
										<i class="fi-play"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table></center>
		</div>
</section>
</script>