<script id="conftemp_mgmt" type="text/html">
<section>
	<div class="row">
				<span>
    			 <center>
					<h2>@Messages("config.tmpl.mgmt")</h2></center><br><br>
					<span>
						<div data-alert id="alert-box-container" class="padding5 small-8 large-4 small-centered columns alert-box alert round" data-bind="visible:configmgmt.visibility">
							<div id="alert-message" class="text-center fontBlack"></div>
						</div>
					</span>
					<ul class="sub-nav xo-nav">
						<li class="active">
                    		<a title='Go Back' data-bind="click:configmgmt.backPage">&lt;&lt;&nbsp;@Messages("config.mgmt.goback")</a>
                		</li>
    					<li class="active">
							<a title='@Messages("config.mgmt.tmpl.newconfig")' id="createNewConfigTempl" data-bind='click:configmgmt.newConfigTemplate'>@Messages("config.mgmt.tmpl.newconfig")</a>
						</li>
  					</ul>
				</span>
			<center>
			<table id="allAvailableConfigTemplates">
				<thead>
					<tr>
						<th>@Messages("config.mgmt.tmpl.name")</th>
						<th>@Messages("config.mgmt.tmpl.action")</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: {data:configmgmt.availableConfigTemplates, as: 'configTemplateRecord'}">
					<tr data-bind="ifnot: configTemplateRecord.deleted">
						<td data-bind='text: configTemplateRecord.shortName'></td>
						<td>
							<ul class="inline-list">
								<li>
									<a  title='@Messages("config.mgmt.tmpl.editconfigtempl")' data-bind='attr: {id: "conftemp_edit_"+configTemplateRecord.configId()}, click:configTemplateRecord.editConfigurations'>
										<i class="fi-pencil"></i>
									</a>
								</li>
								<li data-bind="if: configTemplateRecord.active">
									<a title='@Messages("config.mgmt.tmpl.dactconfigtempl")'  data-bind='attr: {id: "conftemp_active_"+configTemplateRecord.configId()}, click:configTemplateRecord.toggleStatus'>
										<i class="fi-unlock"></i>
									</a>
								</li>
								<li data-bind="ifnot: configTemplateRecord.active">
									<a title='@Messages("config.mgmt.tmpl.actconfigtempl")' data-bind='attr: {id: "conftemp_active_"+configTemplateRecord.configId()}, click:configTemplateRecord.toggleStatus'>
										<i class="fi-lock"></i>										
									</a>
								</li>
								<li>
									<a  title='@Messages("config.mgmt.tmpl.delconfig")' data-bind='attr: {id: "conftemp_delete_"+configTemplateRecord.configId()}, click:configTemplateRecord.deleteConfig'>
										<i class="fi-trash"></i>
									</a>
								</li>
								<li>
									<a  title='@Messages("config.mgmt.tmpl.showconfiginstances")' data-bind='attr: {id: "conftemp_repass_"+configTemplateRecord.configId()}, click:configTemplateRecord.showConfigInstances'>
										<i class="fi-thumbnails"></i>
									</a>
								</li>
								<li>
									<a  title='@Messages("config.mgmt.inst.newconfig")' data-bind='attr: {id: "conftemp_newins_"+configTemplateRecord.configId()}, click:configTemplateRecord.newConfigInstance'>
										<i class="fi-page-add"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table></center>
		</div>
</section>
</script>