<script id="confinstance_mgmt" type="text/html">
<section>
	<div class="row">
				<span>
    			 <center>
					<h2 data-bind='text: configmgmt.shortName()+" "+"@Messages("config.inst.mgmt")"'></h2>
				 </center><br><br>
					<span>
						<div data-alert id="alert-box-container" class="padding5 small-8 large-4 small-centered columns alert-box alert round" data-bind="visible:configmgmt.visibility">
							<div id="alert-message" class="text-center fontBlack"></div>
						</div>
					</span>
					<ul class="sub-nav xo-nav">
						<li class="active">
                    		<a title='Go Back' data-bind="click:configmgmt.backPage">&lt;&lt;&nbsp;@Messages("config.mgmt.goback")</a>
                		</li>
    					<li class="active">
							<a title='@Messages("config.mgmt.inst.newconfig")' id="createNewConfigInst" data-bind='click:configmgmt.newConfigInstance'>@Messages("config.mgmt.inst.newconfig")</a>
						</li>
  					</ul>
				</span>
			<center>
			<table id="allAvailableConfigInstances">
				<thead>
					<tr>
						<th>@Messages("config.mgmt.inst.name")</th>
						<th>@Messages("config.mgmt.inst.action")</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: {data:configmgmt.availableConfigInstances, as: 'configInstanceRecord'}">
					<tr data-bind="ifnot: configInstanceRecord.deleted">
						<td data-bind='text: configInstanceRecord.shortName'></td>
						<td>
							<ul class="inline-list">
								<li>
									<a  title='@Messages("config.mgmt.inst.editconfigtempl")' data-bind='attr: {id: "confinstance_edit_"+configInstanceRecord.configId}, click:configInstanceRecord.editConfigurations'>
										<i class="fi-pencil"></i>
									</a>
								</li>
								<li data-bind="if: configInstanceRecord.active">
									<a title='@Messages("config.mgmt.inst.dactconfigtempl")'  data-bind='attr: {id: "confinstance_active_"+configInstanceRecord.configId}, click:configInstanceRecord.toggleStatus'>
										<i class="fi-unlock"></i>
									</a>
								</li>
								<li data-bind="ifnot: configInstanceRecord.active">
									<a title='@Messages("config.mgmt.inst.actconfigtempl")' data-bind='attr: {id: "confinstance_active_"+configInstanceRecord.configId}, click:configInstanceRecord.toggleStatus'>
										<i class="fi-lock"></i>										
									</a>
								</li>								
								<li>
									<a  title='@Messages("config.mgmt.inst.delconfig")' data-bind='attr: {id: "confinstance_delete_"+configInstanceRecord.configId}, click:configInstanceRecord.deleteConfig'>
										<i class="fi-trash"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table></center>
		</div>
</section>
</script>