@()
<script id="menuTree" type="text/html">
	<li data-bind= 'attr: { class: (subMenuItems().length > 0 ? "has-dropdown not-click" : "")}'>
		<a data-bind='text:name, click:loadPageData'></a>
		<ul class="dropdown" data-bind="template: { name: 'menuTree', foreach: subMenuItems}" ></ul>
	</li>
</script>
<script id="commentButton" type="text/html">
	<li><a data-bind="click:openCommentNav">Comment</a></li>
	<div id="commentDiv" class="sidenav">
		<span style="text-align:left;"><a style="color:#ffffff" class="closebtn" data-bind="click:closeCommentNav">x</a></span>
		<div class="row">
			<center>
				<p  style="font-size:16; color:white; font-family: Calibri;"data-bind="html: dashboardCommentHeading"></p>
				<textarea placeholder="Enter your Comment here..." data-bind="value:commentText" rows="3" maxlength="200" style="width:350px;"></textarea>
			</center>
		</div>
		<div>
			<div class="small-8 columns"></div>
			<div class="small-4 columns">
				<a style="color:#ffffff;margin-bottom: 20px;margin-top: -15px;" data-bind="click: submitDashboardComment" class="small button">Comment</a>
			</div>
		</div>
		<div class="row">
			<center>
			<!-- ko foreach: { data: dashboardMsgs ,as:'comments' } -->
				<div style="text-align:left;" class="stcommentbody" >
					<div class="stcommenttext">
						<b data-bind="text:comments.user+': '"></b>
						<b style="color:#000;font-weight:normal" data-bind="text:comments.message"></b>
						<div class="stcommenttime" data-bind="text:comments.ts"></div> 
					</div>
				</div>
			<!-- /ko -->
			</center>
		</div>
	</div>
</script>
<script id="tab_dashboard" type="text/html">
	<div id="mySidenav" class="sidenav">
		<span style="text-align:left;"><a style="color:#ffffff" class="closebtn" data-bind="click:tableaumgmt.closeNav">x</a></span>
		<div class="row">
			<center>
				<p  style="font-size:16; color:white; font-family: Calibri;"data-bind="html: tableaumgmt.commentHeading"></p>
				<textarea placeholder="Enter your Comment here..." data-bind="value:tableaumgmt.inputText" rows="3" maxlength="200" style="width:350px;"></textarea>
			</center>
		</div>
		<div>
			<div class="small-8 columns"></div>
			<div class="small-4 columns">
				<a style="color:#ffffff" data-bind="click: tableaumgmt.submitComment" class="small button">Comment</a>
			</div>
		</div>
		<div class="row">
			<center>
			<!-- ko foreach: { data: tableaumgmt.msgs ,as:'comments' } -->
			<div style="text-align:left;" class="stcommentbody" >
				<div class="stcommenttext">
					<b data-bind="text:comments.user+': '"></b>
					<b style="color:#000;font-weight:normal" data-bind="text:comments.message"></b>
					<div class="stcommenttime" data-bind="text:comments.ts"></div> 
				</div>
			</div>
			<!-- /ko -->
			</center>
		</div>
	</div>
	<section id="tableauReportsPageSection" style="background-color: white;">
		<center data-bind="visible:(!tableaumgmt.errorText() || tableaumgmt.errorText().length <= 0)" >
			<img style="border: 0px" data-bind='visible: (tableaumgmt.placeHolderImageUrl().length > 0), attr: {src: tableaumgmt.placeHolderImageUrl}'></img>
			<div id="tableauViewPlace" data-bind='attr:{style:(tableaumgmt.isTopBarVisibile() ? "background-color:white;margin-top:3px;" : "background-color:white;margin-top:-45px;")}'></div>
		</center>
		<center data-bind="visible:(tableaumgmt.errorText() && tableaumgmt.errorText().length > 0)" >
			<span class="alert">
				<h3>Report Loading Error:</h3>
				<p data-bind="text:tableaumgmt.errorText"></p>
			</span>
		</center>
	</section>
</script>
