@(clientlogo: String)
<script id="diffusion_map" type="text/html">
<div id="mySidenav" class="sidenav">
	<span style="text-align:left;"><a style="color:#ffffff" class="closebtn" data-bind="click:diffMap.closeNav">x</a></span>
	<div class="row">
		<center>
			<p  style="font-size:16; color:white; font-family: Calibri;"data-bind="html: diffMap.commentHeading"></p>
			<textarea placeholder="Enter your Comment here..." data-bind="value:diffMap.inputText" rows="3" maxlength="200" style="width:350px;"></textarea>
		</center>
	</div>
	<div>
		<div class="small-8 columns"></div>
		<div class="small-4 columns">
			<a style="color:#ffffff" data-bind="click: diffMap.submitComment" class="small button">Comment</a>
		</div>
	</div>
	<div class="row">
		<center>
		<!-- ko foreach: { data: diffMap.msgs ,as:'comments' } -->
		<div style="text-align:left;" class="stcommentbody" >
			<div class="stcommenttext">
				<b data-bind="text:comments.user+': '"></b>
				<b style="color:#000;font-weight:normal" data-bind="text:comments.message"></b>
				<div class="stcommenttime" data-bind="text:comments.ts"></div> 
			</div>
		</div>
		<!-- /ko -->
		</center>
	</div>
</div>
	<section id="diffusionReportsPageSection" style="background-color: white;">
				<center data-bind="visible:(!diffMap.errorText() || diffMap.errorText().length <= 0)" >
					<div id="diffusionViewPlace" data-bind='attr:{style:(diffMap.isTopBarVisibile() ? "background-color:white;margin-top:3px;" : "background-color:white;margin-top:-45px;")}'>
						<div data-bind="visible:diffMap.isTitleVisible()">	
							<div class="large-11 columns" style="padding-left:0; padding-right:0;">
								<div>
										<nav class="top-bar" style="background-color: #07426B;  height: 20px; margin-top:10px; font-family: Calibri;"><p style="font-size:14; color:#fff">VAS Diffusion Map</p>
										</nav>
								</div>
								<div style="margin-left:-814px;">
									<ul class="button-group">
										<li><a class="small button secondary" style="background-color: #07426B; color:white " id="diffMap" data-bind="click:diffMap.changeActiveSheet.bind($data,'Diffusion Map')">Diffusion Map</a></li>
										<li><a class="small button secondary" id="spndSeg" data-bind="click:diffMap.changeActiveSheet.bind($data,'Spend Segment')">Spend Segment</a></li>
										<li><a class="small button secondary" id="trndSen" data-bind="click:diffMap.changeActiveSheet.bind($data,'Trendsensor')">Trendsensor</a></li>
										<li><a class="small button secondary" id="reports" data-bind="click:diffMap.changeActiveSheet.bind($data,'Reports')">Reports</a></li>
										<!-- <li><a class="small button secondary" id="comment" data-bind="click:diffMap.openNav">Comments</a></li>
										<li><a class="small button secondary" id="comment" data-bind="click:diffMap.exportSel">Export Msisdn</a></li> -->
									</ul>
								</div>	
							</div>
							<div class="large-1 columns">
								<img width="70" height="25"  align="left" src='@routes.Assets.at("images/"+clientlogo+"_logo.png")'>
							</div>		
						</div>
								<div class="row collapse" data-bind="visible:diffMap.isTitleVisible()">
		            				<div class="small-10 columns" data-bind="visible: diffMap.showSelect"> 
										<dl class="dropdown2"> 
											<dt>
												<a data-bind="click:diffMap.toggleClass ">
													<p class="multiSel" style="font-size:12; color:#000000; text-align:left;font-family: Calibri;"data-bind="html: diffMap.maxSel"></p>  
												</a>
											</dt>
											<dd>
												<div class="mutliSelect" >
													<ul style="margin : 0,padding:0">
														<!-- ko foreach: { data: diffMap.filterList ,as:'sub_sgmt' } -->
														<li style="list-style: none;">
															<label style="margin-bottom:-13px;">
				        										<input type="checkbox" data-bind="attr:{disabled:sub_sgmt.isDisabled,value: sub_sgmt.name},  checked: sub_sgmt.isChecked" />
				        										<span data-bind="text:sub_sgmt.name" style="font-size:11;"></span>
				        									</label>
				    									</li>
														<!-- /ko -->
														<li style="display:inline-block;"><a class="small button" style="background-color: #4CAF50; border: none; color: white;" data-bind="click:diffMap.getSelectedFilters" class="button">Apply</a></li>
														<li style="display:inline-block;"><a class="small button secondary" style="background-color: #4CAF50; border: none; color: white;" data-bind="click:diffMap.cancelSelected" class="button">Cancel</a></li>
													</ul>
												</div>
											</dd>
										</dl>
		            				</div>
		            				<!--
		            				<div class="small-2 columns">
		              					<a data-bind="click:diffMap.getSelectedFilters" class="button postfix">Go</a>
		            				</div> -->
		          				</div>
							
					</div>
				</center>
				<center data-bind="visible:(diffMap.errorText() && diffMap.errorText().length > 0)" >
					<span class="alert">
						<h3>Report Loading Error:</h3>
						<p data-bind="text:diffMap.errorText"></p>
					</span>
				</center>
	  		</div>
	  			
	</section>
		
</script>