@(forgotPassForm: Form[_])
@import helper._
@xo_base {
		<section class="small-16">
			@helper.form(action = com.xo.web.controllers.routes.UserController.forgotPassword(), 'name -> "passwordReset") {
				<div data-alert id="alert-box-container" class="padding5 small-8 large-4 small-centered columns alert-box alert round">
					 <div id="alert-message" class="text-center fontBlack"></div>	 
				</div>	
					<div class="row">
						@if(forgotPassForm.hasGlobalErrors) {
				        	<p>
				            	<div class="small-14 medium-4 small-centered columns alert-box alert">@forgotPassForm.globalError.message</div>
				          	</p>
				        }
						<div class = "panel small-14 medium-6 small-centered columns">
		
						        @inputText(
										  forgotPassForm("email"),
										  '_showConstraints -> false,
										  'placeholder -> Messages("login.email"),
										  '_label -> ""
										)
		
								<input id="forgotPassword" type="submit" value="@Messages("password.reset")" class="button expand"></input>
		        		</div>
					</div>
				</form>		
		</section>
	}
}