@(loginForm: Form[_], forgotPassUrl: String)

@import helper._

@xo_base{
			<head>
				<title>@Messages("login.title")</title>
			</head>
			<section class="small-16">	
				<div class="row">
					<div class="small-14 medium-4 small-centered columns">
						<img  width="400" height="300" src='@routes.Assets.at("images/" + com.xo.web.util.XoUtil.getApplicationEndUser().toLowerCase() + "_logo.png")' alt="Unable to load">
					</div>
				</div>
				@helper.form(action = com.xo.web.controllers.routes.UserController.login) {
					<div class="row">
						@if(loginForm.hasGlobalErrors) {
				        	<p>
				            	<div class="small-14 medium-4 small-centered columns alert-box alert">@loginForm.globalError.message</div>
				          	</p>
				        }
						<div class = "panel small-14 medium-4 small-centered columns">

								@inputText(
										  loginForm("email"),
										  '_showConstraints -> false,
										  'placeholder -> Messages("login.email"),
										  '_label -> ""
										)
		
						        @inputPassword(
						          loginForm("password"),
						          '_showConstraints -> false,
						          'placeholder -> Messages("login.password"),
								  '_label -> ""
						        )
								<input id="xologin" type="submit" onClick="crypt()" value="@Messages("login.login")" class="button expand">
								<a href="@forgotPassUrl" class="small-centered">@Messages("password.forgot")</a>
		        		</div>
					</div>
				}		
			</section>
            <script type="text/javascript" src='@routes.Assets.at("js/xo/json_2.js")'></script>
			<script type="text/javascript" src='@routes.Assets.at("js/xo/issac.js")'></script>
			<script type="text/javascript" src='@routes.Assets.at("js/xo/bCrypt.js")'></script>
            <script type="text/javascript" >
            var id;
            var bcrypt = new bCrypt();
            function enable(){
            	if(bcrypt.ready()){
            		clearInterval(id);
            	}
            }

            function crypt(){
            	try{
                	if($("#password").val().length > 0) {
	            		bcrypt.hashpw($("#password").val(), bcrypt.gensalt(10), function(hashedPass){
		            			$("#password").val(hashedPass);
		            		}, function() {});
                	} 
            		//UserEntity.login();	// ajax login
	            }catch(err){
	                    alert(err);
	                    return;
	            }
        	}

            $(document).ready(function(){
            	 id = setInterval(enable,250);
             });


            </script>
            
            }