@* messages Template File *@
@()
<script type="text/javascript">
var messages = {
	"ui.survey.confirmnext": "@Messages("ui.survey.confirmnext")",
	"ui.surveyadmin.selectfile": "@Messages("ui.surveyadmin.selectfile")",
	"ui.surveyadmin.selectinsertype": "@Messages("ui.surveyadmin.selectinsertype")",
	"ui.survey.confirmredirect": "@Messages("ui.survey.confirmredirect")",
	"ui.survey.submitfailed": "@Messages("ui.survey.submitfailed")",
	"ui.survey.custnumber": "@Messages("ui.survey.custnumber")",
	"ui.survey.waiting": "@Messages("ui.survey.waiting")"
};
</script>