<script id="report_mgmt" type="text/html">
    <section>
        <div class="row">
		<span>
			<center>
                <h2>@Messages("reports.mgmt.heading")</h2>
            </center>
			<br>
		<br>
				<div data-alert id="alert-box-container"
                     class="padding5 small-8 large-4 small-centered columns alert-box alert round"
                     data-bind="visible:reportmgmt.visibility">
                    <div id="alert-message" class="text-center fontBlack"></div>
                </div>
			<table id="allAvailableReports">
                <thead>
                <tr>
                    <th>@Messages("reports.mgmt.report.name")</th>
                    <th>@Messages("reports.mgmt.report.display.name")</th>
                    <th>@Messages("reports.mgmt.report.groupname")</th>
                    <th>@Messages("reports.mgmt.report.order")</th>
                    <th>@Messages("reports.mgmt.report.action")</th>
                </tr>
                </thead>
                <tbody
                        data-bind="foreach: {data:reportmgmt.availableReports, as: 'reportsRecord'}">
                <tr>
                    <td data-bind='text: reportsRecord.reportName'></td>
                    <td>
						<span data-bind='if:reportsRecord.isEdit()'>
							<input type="text" data-bind='value: reportsRecord.displayName' placeholder='@Messages("reports.mgmt.val")' />
						</span>
						<span data-bind='ifnot:reportsRecord.isEdit()'>
							<span data-bind="text:reportsRecord.displayName"></span>
						</span>
                    </td>
                    <td>
						<span data-bind='if:reportsRecord.isEdit()'>
                            <select data-bind='options:reportsRecord.availableGroups, optionsText: "groupName", value: reportsRecord.selectedGroup, optionsCaption:"Choose group.."'>@Messages("reports.mgmt.val")</select>
						</span>
						<span data-bind='ifnot:reportsRecord.isEdit()'>
							<span data-bind="text:reportsRecord.groupName"></span>
						</span>
                    </td>
                    <td>
						<span data-bind='if:reportsRecord.isEdit()'>
							<input type="text" data-bind='value: reportsRecord.displayOrder' placeholder='@Messages("reports.mgmt.val")' />
						</span>
						<span data-bind='ifnot:reportsRecord.isEdit()'>
							<span data-bind="text:reportsRecord.displayOrder"></span>
						</span>
                    </td>
                    <td>
                        <ul class="inline-list">
                            <li data-bind='ifnot:reportsRecord.isEdit()'>
                                <a  title='@Messages("reports.mgmt.edit")'
                                    data-bind='click:reportsRecord.editable'>
                                    <i class="fi-pencil"></i>
                                </a>
                            </li>
                            <li data-bind='if:reportsRecord.isEdit()'>
                                <a><i title="Save" class="fi-save" data-bind='click:reportsRecord.saveReports' ></i>
                                </a>
                            </li>
                            <li data-bind="if: reportsRecord.active"><a
                                    title='@Messages("reports.mgmt.dact")'
                                    data-bind='click:reportsRecord.toggleStatus'>
                                <i class="fi-unlock"></i>
                            </a></li>
                            <li data-bind="ifnot: reportsRecord.active"><a
                                    title='@Messages("reports.mgmt.act")'
                                    data-bind='click:reportsRecord.toggleStatus'>
                                <i class="fi-lock"></i>
                            </a></li>
                            <li data-bind="if:reportsRecord.viewGroupId() , click:reportsRecord.checkDashboard" class="switch small" title='@Messages("reports.mgmt.dashboard")' >
                                    <input type="checkbox" data-bind="checked:reportsRecord.dashboard">
                                <label></label>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</script>