<script id="report_grp_mgmt" type="text/html">
    <section>
        <div class="row">
		<span>
			<center>
                <h2>@Messages("reports.grp.mgmt.heading")</h2>
            </center>
			<br>
		<br> <span>
				<div data-alert id="alert-box-container"
                     class="padding5 small-8 large-4 small-centered columns alert-box alert round"
                     data-bind="visible:reportgrpmgmt.visibility">
                    <div id="alert-message" class="text-center fontBlack"></div>
                </div>
           <ul class="sub-nav xo-nav">
               <li class="active">
                   <a title="Add new Group" id="addgroup" data-reveal-id="addgroupModel" data-bind='click:reportgrpmgmt.loadPopup'>@Messages("reports.grp.mgmt.add")</a>
                   <div id="addgroupModel" class="reveal-modal medium top50" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">@Messages("reports.grp.mgmt.add")
								<span>
								<div data-alert id="popup-box-container"
                                     class="padding5 small-8 large-6 small-centered columns alert-box alert round"
                                     data-bind="visible:reportgrpmgmt.visibility">
                                    <div id="popup-message" class="text-center fontBlack"></div>
                                </div>
							</span>
                       <span>
							<input type="text" data-bind='value: reportgrpmgmt.groupName' />
						</span>
                       <center >
                           <button data-bind="click:reportgrpmgmt.saveGroups" id="create_group" class="button small round" type="submit">Add</button>
                       </center>
                       <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                   </div>
               </li>
           </ul>
			<table id="allAvailableGroups">
                <thead>
                <tr>
					<th>@Messages("reports.grp.mgmt.code")</th>
					<th>@Messages("reports.grp.mgmt.name")</th>
                    <th>@Messages("reports.grp.mgmt.order")</th>
                    <th>@Messages("reports.grp.mgmt.action")</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: {data:reportgrpmgmt.availableGroups, as: 'groupRecord'}">
                <tr>
					<td>
						<span data-bind="text:groupRecord.viewGroupId"></span>
                    </td>
                    <td>
						<span data-bind='if:groupRecord.isEdit()'>
							<input type="text" data-bind='value: groupRecord.groupName' />
						</span>
						<span data-bind='ifnot:groupRecord.isEdit()'>
							<span data-bind="text:groupRecord.groupName"></span>
						</span>
                    </td>
                    <td>
						<span data-bind='if:groupRecord.isEdit()'>
							<input type="text" data-bind='value: groupRecord.displayOrder' />
						</span>
						<span data-bind='ifnot:groupRecord.isEdit()'>
							<span data-bind="text:groupRecord.displayOrder"></span>
						</span>
                    </td>
                    <td>
                        <ul class="inline-list">
                            <li data-bind='ifnot:groupRecord.isEdit()'>
                                <a  title='@Messages("reports.grp.mgmt.edit")'
                                    data-bind='click:groupRecord.editable'>
                                    <i class="fi-pencil"></i>
                                </a>
                            </li>
                            <li data-bind='if:groupRecord.isEdit()'>
                                <a><i title="Save" class="fi-save" data-bind='click:groupRecord.saveGroups' ></i>
                                </a>
                            </li>
                            <li data-bind="if: groupRecord.active"><a
                                    title='@Messages("reports.grp.mgmt.dact")'
                                    data-bind='click:groupRecord.toggleStatus'>
                                <i class="fi-unlock"></i>
                            </a></li>
                            <li data-bind="ifnot: groupRecord.active"><a
                                    title='@Messages("reports.grp.mgmt.act")'
                                    data-bind='click:groupRecord.toggleStatus'>
                                <i class="fi-lock"></i>
                            </a></li>
                            <li>
                                <a title='@Messages("reports.grp.mgmt.del")'>
                                    <i class="fi-trash" data-bind='click:groupRecord.deleteGroupCheck'></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            </span>
            </span>
        </div>
    </section>
</script>