<script id="role_perm_mgmt" type="text/html">
<section>
	<div class="row">
		<span>
			<center>
				<h2 data-bind="text:rolespermissionmgmt.curRole().name + ' @Messages("role.perm.mgmt")'"></h2>
			</center>
			<br>
		<br> <span>
				<div data-alert id="alert-box-container"
					class="padding5 small-8 large-4 small-centered columns alert-box alert round"
					data-bind="visible:rolespermissionmgmt.visibility">
					<div id="alert-message" class="text-center fontBlack"></div>
				</div>
		</span>
			<dl class="sub-nav xo-nav">
				<dd class="active">
					<a title="Create a new permission" id="assignNewRolePermissionBut" data-reveal-id="permissionAssignModel" data-bind='click:rolespermissionmgmt.loadPopup'>@Messages("role.perm.mgmt.newperm")</a>
                    <div id="permissionAssignModel" class="reveal-modal medium top50" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    		<span>
								<div data-alert id="popup-box-container"
									class="padding5 small-8 large-6 small-centered columns alert-box alert round"
									data-bind="visible:rolespermissionmgmt.visibility">
									<div id="popup-message" class="text-center fontBlack"></div>
								</div>
							</span>

                        <table id="allAvailablePermissions_pop">
                            <thead>
                            <tr>
                                <th>@Messages("role.perm.mgmt.ungranted.name")</th>
                                <th>@Messages("role.perm.mgmt.action")</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: {data:rolespermissionmgmt.availablePermissions, as: 'permissionRecord'}">
                            <tr data-bind="ifnot: permissionRecord.deleted" >
                                <td data-bind='text: permissionRecord.name'></td>
                                <td class="text-center popupheight" ><input type="submit" class="small round button popupheight lightbluebutton" value="ADD" data-bind="click:permissionRecord.updateRolePermission"/></td>
                            </tr>
                            </tbody>
                        </table>

                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                    </div>

                </dd>
			</dl>
		</span>
			<table id="allAvailablePermissions">
				<thead>
					<tr>
						<th>@Messages("role.perm.mgmt.name")</th>
						<th>@Messages("role.perm.mgmt.action")</th>
					</tr>
				</thead>
				<tbody
					data-bind="foreach: {data:rolespermissionmgmt.availableRolesPermission, as: 'rolePermRecord'}">
					<tr>
						<td data-bind='text: rolePermRecord.p_name'></td>
						<td>
							<ul class="inline-list">
								<li data-bind="if: rolePermRecord.active"><a
									title='@Messages("role.perm.mgmt.dactusr")'
									data-bind='attr: {id: "perm_active_"+rolePermRecord.roleId+"_"+rolePermRecord.permissionId}, click:rolePermRecord.toggleRolePermissionStatus'>
										<i class="fi-unlock"></i>
								</a></li>
								<li data-bind="ifnot: rolePermRecord.active"><a
									title='@Messages("role.perm.mgmt.actusr")'
									data-bind='attr: {id: "perm_active_"+rolePermRecord.roleId+"_"+rolePermRecord.permissionId}, click:rolePermRecord.toggleRolePermissionStatus'>
										<i class="fi-lock"></i>
								</a></li>
								<li>
									<a  title='@Messages("role.perm.mgmt.delusrrl")' data-bind='attr: {id: "user_active_"+rolePermRecord.roleId+"_"+rolePermRecord.permissionId}, click:rolePermRecord.deleteRolePermission'>
										<i class="fi-trash"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</section>
</script>
