<script id="role_mgmt" type="text/html">
<section>
	<div class="row">
				<span>
    			 <center>
					<h2>@Messages("role.mgmt")</h2></center><br><br>
					<span>
						<div data-alert id="alert-box-container" class="padding5 small-8 large-4 small-centered columns alert-box alert round" data-bind="visible:rolemanagement.visibility">
							<div id="alert-message" class="text-center fontBlack"></div>
						</div>
					</span>
					<dl class="sub-nav xo-nav">
    					<dd class="active">
							<a title="Create a new role" id="createNewRoleBut" data-bind='click:rolemanagement.newRole'>@Messages("role.mgmt.newrole")</a>
						</dd>
  					</dl>
				</span>
			<center>
			<table id="allAvailableRoles">
				<thead>
					<tr>
						<th>@Messages("role.mgmt.name")</th>					
						<th>@Messages("role.mgmt.action")</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: {data:rolemanagement.availableRoles, as: 'roleRecord'}">
					<tr data-bind="ifnot: roleRecord.deleted">
						<td data-bind='text: roleRecord.name'></td>
						<td>
							<ul class="inline-list">
								<li>
									<a  title='@Messages("role.mgmt.editrole")' data-bind='attr: {id: "role_edit_"+roleRecord.roleId}, click:roleRecord.loadRole'>
										<i class="fi-pencil"></i>
									</a>
								</li>
								<li data-bind="if: roleRecord.active">
									<a title='@Messages("role.mgmt.dactrole")'  data-bind='attr: {id: "role_active_"+roleRecord.roleId}, click:roleRecord.toggleStatus'>
										<i class="fi-unlock"></i>
									</a>
								</li>
								<li data-bind="ifnot: roleRecord.active">
									<a title='@Messages("role.mgmt.actrole")' data-bind='attr: {id: "role_active_"+roleRecord.roleId}, click:roleRecord.toggleStatus'>
										<i class="fi-lock"></i>										
									</a>
								</li>								
								<li>
									<a  title='@Messages("role.mgmt.delrole")' data-bind='attr: {id: "role_delete_"+roleRecord.roleId}, click:roleRecord.deleteRoleCheck'>
										<i class="fi-trash"></i>
									</a>
								</li>
								<li>
									<a  title='@Messages("role.mgmt.assignpermission")' data-bind='attr: {id: "role_repass_"+roleRecord.roleId}, click:roleRecord.showRolesPermission'>
										<i class="fi-thumbnails"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table></center>
		</div>
</section>
</script>