<script id="rowlevelpermission_mgmt" type="text/html">
	<section>
		<div class="row" data-equivalizer>
			<div class="small-10 small-centered columns">
				<br/>
				<fieldset class="small-block-grid-2 medium-block-grid-4  panel callout radious">
						<legend class="fi-key">&nbsp;@Messages("admin.land.row-level")</legend>
						<ul class="small-block-grid-2 medium-block-grid-4">
							<li class ="text-center" data-equalizer-watch><a href="#userrowlevelpermission"><i class="fi-results-demographics text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.userrow-level")</span></a></li>
							<li class="text-center" data-equalizer-watch><a href="#rolerowlevelpermission"><i class="fi-torso-business text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.rolerow-level")</span></a></li>
						</ul>
				</fieldset>
			</div>
		</div>
	</section>
</script>