<script id="system_settings" type="text/html">
	<section>
		<div class="row" data-equivalizer>
			<div class="small-10 small-centered columns">
				<br/>
				<fieldset class="small-block-grid-2 medium-block-grid-4  panel callout radious">
						<legend class="fi-wrench">&nbsp;@Messages("admin.land.settings")</legend>
						<ul class="small-block-grid-2 medium-block-grid-4">
							<li class ="text-center" data-equalizer-watch><a href="#configtemplate"><i class="fi-page-multiple text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.configs")</span></a></li>
							<li class="text-center" data-equalizer-watch><a href="#clientjobconfig"><i class="fi-database text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.clientjobconfigs")</span></a></li>
							<li class ="text-center" data-equalizer-watch><a href="#reportmgmt"><i class="fi-graph-pie text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.report.settings")</span></a></li>
							<li class ="text-center" data-equalizer-watch><a href="#reportgrpmgmt"><i class="fi-layout text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.report.group.settings")</span></a></li>
							<li class ="text-center" data-equalizer-watch><a href="#configkpi"><i class="fi-graph-pie text-center xo-icon"></i><br><span class="text-center">Configure KPI Target</span></a></li>
						</ul>
				</fieldset>
			</div>
		</div>
	</section>
</script>