<script id="tableau_view_mgmt" type="text/html">
    <section>
        <div class="row">
		<span>
			<center>
                <h2>Tableau View Management</h2>
            </center>
			<br>
		<br> <span>
				<div data-alert id="alert-box-container"
                     class="padding5 small-8 large-4 small-centered columns alert-box alert round"
                     data-bind="visible:permissionmanagement.visibility">
                    <div id="alert-message" class="text-center fontBlack"></div>
                </div>
			<table id="allAvailableTableauViews">
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>@Messages("permission.mgmt.name")</th>-->
                    <!--<th>@Messages("permission.mgmt.description")</th>-->
                    <!--<th>@Messages("permission.mgmt.action")</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody-->
                        <!--data-bind="foreach: {data:permissionmanagement.availablePermissions, as: 'permissionRecord'}">-->
                <!--<tr data-bind="ifnot: permissionRecord.deleted">-->
                    <!--<td data-bind='text: permissionRecord.name'></td>-->
                    <!--<td data-bind="text: permissionRecord.description"></td>-->
                    <!--<td>-->
                        <!--<ul class="inline-list">-->
                            <!--<li data-bind="if: permissionRecord.active"><a-->
                                    <!--title='@Messages("permission.mgmt.dactprm")'-->
                                    <!--data-bind='attr: {id: "permission_active_"+permissionRecord.permissionId}, click:permissionRecord.toggleStatus'>-->
                                <!--<i class="fi-unlock"></i>-->
                            <!--</a></li>-->
                            <!--<li data-bind="ifnot: permissionRecord.active"><a-->
                                    <!--title='@Messages("permission.mgmt.actprm")'-->
                                    <!--data-bind='attr: {id: "permission_active_"+permissionRecord.permissionId}, click:permissionRecord.toggleStatus'>-->
                                <!--<i class="fi-lock"></i>-->
                            <!--</a></li>-->
                            <!--&lt;!&ndash;<li><a title='@Messages("permission.mgmt.resetpass")'-->
                                <!--data-bind='attr: {id: "permission_repass_"+permissionRecord.permissionId}, click:permissionRecord.resetpassword'>-->
                                    <!--<i class="fi-refresh"></i>-->
                            <!--</a></li>-->
                            <!--<li><a title='@Messages("permission.mgmt.roles")'-->
                                <!--data-bind='attr: {id: "permission_repass_"+permissionRecord.permissionId}, click:permissionRecord.showPermissionRoles'>-->
                                    <!--<i class="fi-thumbnails"></i>-->
                            <!--</a></li>-->
                            <!--<li>-->
                                <!--<a  title='@Messages("permission.mgmt.delprm")' data-bind='attr: {id: "permission_delete_"+permissionRecord.permissionId}, click:permissionRecord.deletePermission'>-->
                                    <!--<i class="fi-trash"></i>-->
                                <!--</a>-->
                            <!--</li> &ndash;&gt;-->
                        <!--</ul>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            </table>
        </div>
    </section>
</script>