<script id="admin-template" type="text/html">
<section>
		<div class="row" data-equivalizer>
  			<div class="small-10 small-centered columns">
				<br/>
				<fieldset class="small-block-grid-2 medium-block-grid-4 panel callout radious">
						<legend class="fi-key">&nbsp;@Messages("admin.land.security")</legend>
						<ul class="small-block-grid-2 medium-block-grid-4">
							<li class ="text-center" data-equalizer-watch><a href="#usermanagement"><i class="fi-torsos-all text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.usermgmt")</span></a></li>
							<li class ="text-center" data-equalizer-watch><a href="#rolemanagement"><i class="fi-social-myspace text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.role")</span></a></li>
							<li class ="text-center" data-equalizer-watch><a href="#permissionmanagement"><i class="fi-key text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.permission")</span></a></li>					
	                    	<li class ="text-center" data-equalizer-watch><a href="#rowlevelpermission"><i class="fi-indent-more text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.row-level")</span></a></li>
						</ul>
				</fieldset>
				<br/>
				<fieldset class="small-block-grid-2 medium-block-grid-4  panel callout radious">
						<legend class="fi-wrench">&nbsp;@Messages("admin.land.portalapp")</legend>
						<ul class="small-block-grid-2 medium-block-grid-4">
							<li class ="text-center" data-equalizer-watch><a href="#systemsettings"><i class="fi-widget text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.settings")</span></a></li>
							<li class ="text-center" data-equalizer-watch><a href="#tabdashboard"><i class="fi-graph-trend text-center xo-icon"></i><br><span class="text-center">@Messages("admin.land.tableaumgmt")</span></a></li>
							<li class ="text-center" data-equalizer-watch><a href="#diffusionmap"><i class="fi-graph-trend text-center xo-icon"></i><br><span class="text-center">Diffusion Map</span></a></li>
						</ul>
				</fieldset>
			</div>
		</div>
</section>
</script>