<script id="user_mgmt" type="text/html">
<section>
	<div class="row">
		<span>
			<center>
				<h2>@Messages("user.mgmt")</h2>
			</center>
			<br>
		<br> <span>
				<div data-alert id="alert-box-container"
					class="padding5 small-8 large-4 small-centered columns alert-box alert round"
					data-bind="visible:usermanagement.visibility">
					<div id="alert-message" class="text-center fontBlack"></div>
				</div>
		</span>

			<ul class="sub-nav xo-nav">
    			<li class="active">
					<a title='@Messages("user.mgmt.newusr")' id="createNewUserBut" data-bind='click:usermanagement.newUser'>@Messages("user.mgmt.newusr")</a>
				</li>
				<li class="active">
					<a title='@Messages("user.mgmt.upload")' id="createNewUserBut_bulk" data-bind='click:usermanagement.bulkUploadUsers'>@Messages("user.mgmt.upload")</a>
				</li>
  			</ul>
		</span>
			<table id="allAvailableUsers">
				<thead>
					<tr>
						<th>@Messages("user.mgmt.name")</th>
						<th>@Messages("user.mgmt.email")</th>
						<th>@Messages("user.mgmt.lstapp")</th>
						<th>@Messages("user.mgmt.action")</th>
					</tr>
				</thead>
				<tbody
					data-bind="foreach: {data:usermanagement.availableUsers, as: 'userRecord'}">
					<tr data-bind="ifnot: userRecord.deleted">
						<td data-bind='text: userRecord.name'></td>
						<td data-bind="text: userRecord.email"></td>
						<td data-bind="text: userRecord.lastLoginDt"></td>
						<td>
							<ul class="inline-list">
								<li><a title='@Messages("user.mgmt.editusr")'
									data-bind='attr: {id: "user_edit_"+userRecord.userId}, click:userRecord.loadUser'>
										<i class="fi-pencil"></i>
								</a></li>
								<li data-bind="if: userRecord.active"><a
									title='@Messages("user.mgmt.dactusr")'
									data-bind='attr: {id: "user_active_"+userRecord.userId}, click:userRecord.toggleStatus'>
										<i class="fi-unlock"></i>
								</a></li>
								<li data-bind="ifnot: userRecord.active"><a
									title='@Messages("user.mgmt.actusr")'
									data-bind='attr: {id: "user_active_"+userRecord.userId}, click:userRecord.toggleStatus'>
										<i class="fi-lock"></i>
								</a></li>
								<li><a title='@Messages("user.mgmt.resetpass")'
									data-bind='attr: {id: "user_repass_"+userRecord.userId}, click:userRecord.resetpassword'>
										<i class="fi-refresh"></i>
								</a></li>
								<li><a title='@Messages("user.mgmt.roles")'
									data-bind='attr: {id: "user_repass_"+userRecord.userId}, click:userRecord.showUserRoles'>
										<i class="fi-thumbnails"></i>
								</a></li>
								<li><a title='@Messages("user.mgmt.permission")'
									data-bind='attr: {id: "user_perm_"+userRecord.userId}, click:userRecord.showUserPermissions'>
										<i class="fi-checkbox"></i>
								</a></li>
								<!--<li>
									<a  title='@Messages("user.mgmt.delusr")' data-bind='attr: {id: "user_delete_"+userRecord.userId}, click:userRecord.deleteUser'>
										<i class="fi-trash"></i>
									</a>
								</li> -->
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</section>
</script>