<script id="userrowlevelpermission_mgmt" type="text/html">
<section>
	<div class="row">
		<span>
			<center>
				<h2 data-bind="text:'@Messages("admin.land.userrow-level")'"></h2>
			</center>
			<br>
		<br> <span>
				<div data-alert id="alert-box-container"
					class="padding5 small-8 large-4 small-centered columns alert-box alert round"
					data-bind="visible:rowlevelmgmt.visibility">
					<div id="alert-message" class="text-center fontBlack"></div>
				</div>
		</span>
			<ul	class="sub-nav xo-nav">
				<li class="">
					<ul>
						<li class="active">
							<select id='availableUsers' style="margin-bottom: 0px;" 
									data-bind='options: rowlevelmgmt.availableusers, optionsText: "displayText", value: rowlevelmgmt.selectedUser, optionsCaption: "@Messages("rowlevel.crud.seluser")"'>
							</select>
						</li>
						<li class="active">
							<select id='availableResources' data-bind='options: rowlevelmgmt.availableresources,
                       		optionsText: "displayText",
                       		value: rowlevelmgmt.selectedResource,
                       		optionsCaption: "@Messages("rowlevel.crud.selentitytype")"' style="margin-bottom: 0px;"></select>
						</li>
					</ul>
				</li>
				<li class="active">
					<a title='@Messages("rowlevel.crud.crud.create")' id="createUserRlp" data-bind='click:rowlevelmgmt.showPopup' data-reveal-id="addrlpModel">
						@Messages("rowlevel.crud.crud.create")
					</a>
					<div id="addrlpModel" class="reveal-modal medium top50" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    		<span>
								<div data-alert id="popup-box-container"
									class="padding5 small-8 large-6 small-centered columns alert-box alert round"
									data-bind="visible:rowlevelmgmt.visibility">
									<div id="popup-message" class="text-center fontBlack"></div>
								</div>
							</span>

                        <table id="allUnAssignedRlpInstances">
                            <thead>
                            <tr data-bind='if:rowlevelmgmt.selectedResource() && rowlevelmgmt.selectedResource().displayText'>
                                <th data-bind='text:rowlevelmgmt.selectedResource().displayText'></th>
                                <th>@Messages("rowlevel.crud.action")</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: {data:rowlevelmgmt.unAssignedInstances, as: 'unAssInstance'}">
                            	<tr data-bind="ifnot: unAssInstance.deleted" >
                                	<td data-bind='text: unAssInstance.displayText'></td>
                                	<td class="text-center popupheight" >
										<input type="submit" class="small round button popupheight lightbluebutton" value="ADD" data-bind="click:unAssInstance.addRecord"/>
									</td>
                            	</tr>
                            </tbody>
                        </table>

                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                    </div>
				</li>
			</ul>
		</span>
			<table id="allRLPEntities">
				<thead>
					<tr>
						<th>@Messages("rowlevel.crud.entity")</th>
						<th>@Messages("rowlevel.crud.restype")</th>
						<th>@Messages("rowlevel.crud.action")</th>
					</tr>
				</thead>
				<tbody
					data-bind="foreach: {data:rowlevelmgmt.availableEntityInstances, as: 'entityInstanceRecord'}">
					<tr>
						<td data-bind='text: entityInstanceRecord.displayText'></td>
						<td data-bind='text: entityInstanceRecord.resourceTypeName'></td>
						<td>
							<ul class="inline-list">
								<li data-bind="if: entityInstanceRecord.active"><a
									title='@Messages("user.pr.mgmt.dactusr")'
									data-bind='click:entityInstanceRecord.toggleActiveStatus'>
										<i class="fi-unlock"></i>
								</a></li>
								<li data-bind="ifnot: entityInstanceRecord.active"><a
									title='@Messages("user.pr.mgmt.actusr")'
									data-bind='click:entityInstanceRecord.toggleActiveStatus'>
										<i class="fi-lock"></i>
								</a></li>
								<li>
									<a  title='@Messages("user.pr.mgmt.delusrpr")' data-bind='click:entityInstanceRecord.deleteRecord'>
										<i class="fi-trash"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</section>
</script>