@import com.xo.web.views.html._
<script id="upload-users" type="text/html">
	<section>
		<br>
		<form enctype="multipart/form-data" data-bind="submit: usermanagement.uploadUsers">
			<center><h2>@Messages("user.mgmt.upload")</h2></center><br>
				<div data-alert id="alert-box-container" class="padding5 small-8 large-4 small-centered columns alert-box alert round" data-bind="visible: usermanagement.visibility">
					 <div id="alert-message" class="text-center fontBlack"></div>	 
				</div>		
			<div class="row">
			<div class="small-12 medium-6 small-centered columns ">
									
				<input  class="small-10 small-centered columns panel" multiple="multiple"  type="file" name="user_entries" id="user_entries" />	
				<div class = "row">
					<div class="small-3 small-centered columns">
						<input id="uploadUserEntries" class="button" type="submit" value="@Messages("admin.upload.users")"></input>
					</div>
				</div>															
			</div>	
			</div>			
		</form>
	</section>
</script>
