<script id="user_perm_mgmt" type="text/html">
<section>
	<div class="row">
		<span>
			<center>
				<h2 data-bind="text:userpermmgnt.curUser().name + ' @Messages("user.pr.mgmt")'"></h2>
			</center>
			<br>
		<br> <span>
				<div data-alert id="alert-box-container"
					class="padding5 small-8 large-4 small-centered columns alert-box alert round"
					data-bind="visible:userpermmgnt.visibility">
					<div id="alert-message" class="text-center fontBlack"></div>
				</div>
		</span>
			<dl	class="sub-nav xo-nav">
				<dd class="active">
					<a title="Create a user permission" data-reveal-id="myModal" id="assignNewUserPermBut"
						data-bind='click:userpermmgnt.loadPopup'>@Messages("user.pr.mgmt.newusrpr")</a>
					<div id="myModal"class="reveal-modal medium top50" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" >
							<span>
								<div data-alert id="popup-box-container"
									class="padding5 small-8 large-6 small-centered columns alert-box alert round"
									data-bind="visible:userpermmgnt.visibility">
									<div id="popup-message" class="text-center fontBlack"></div>
								</div>
							</span>
						<table id="UnassignedUserPermissions">
								<thead>
									<tr>
										<th>Permissions</th>
										<th>Assign</th>
									</tr>
								</thead>
								<tbody
									data-bind="foreach: {data:userpermmgnt.availableUnassignedPermissions, as: 'unassignedPermissionRecord'}">
									<tr>
										<td data-bind='text: unassignedPermissionRecord.name'></td>
										<td class="text-center popupheight"><input type="submit" class="small round button lightbluebutton popupheight" value="ADD" data-bind="click:unassignedPermissionRecord.updateUserPermission"/></td>
									</tr>
								</tbody>
							</table>
											
							
					 	 <a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				</dd>
			</dl>
		</span>
			<table id="allAvailableUserPermissions">
				<thead>
					<tr>
						<th>@Messages("user.pr.mgmt.name")</th>
						<th>@Messages("user.pr.mgmt.action")</th>
					</tr>
				</thead>
				<tbody
					data-bind="foreach: {data:userpermmgnt.availableUserPermissions, as: 'userPermissionRecord'}">
					<tr>
						<td data-bind='text: userPermissionRecord.name'></td>
						<td>
							<ul class="inline-list">
								<li data-bind="if: userPermissionRecord.active"><a
									title='@Messages("user.pr.mgmt.dactusr")'
									data-bind='attr: {id: "user_active_"+userPermissionRecord.userId+"_"+userPermissionRecord.permId}, click:userPermissionRecord.toggleUserPermissionStatus'>
										<i class="fi-unlock"></i>
								</a></li>
								<li data-bind="ifnot: userPermissionRecord.active"><a
									title='@Messages("user.pr.mgmt.actusr")'
									data-bind='attr: {id: "user_active_"+userPermissionRecord.userId+"_"+userPermissionRecord.permId}, click:userPermissionRecord.toggleUserPermissionStatus'>
										<i class="fi-lock"></i>
								</a></li>
								<li>
									<a  title='@Messages("user.pr.mgmt.delusrpr")' data-bind='attr: {id: "user_active_"+userPermissionRecord.userId+"_"+userPermissionRecord.permId}, click:userPermissionRecord.deleteUserPermission'>
										<i class="fi-trash"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</section>
</script>